 * {
  box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

/* Style the list */
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
  color: #e84601;
  background-color: black;
  font-size: 20px;
}

/* List items */
.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  
}

/* Grey list item */
.price .grey {
  background-color: #eee;
  font-size: 15px;
  height: 170px;
}

/* The "Sign Up" button */


/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
